node_modules
.env

mobile/android
mobile/ios

backend/node_modules
mobile/node_modules
admin/node_modules


backend/.gitignore
mobile/.gitignore
admin/.gitignore


backend/.env
mobile/.env
admin/.env




